*{
      font-family: sans-serif;
}

p{
    font-size: 20px;
}

.card-body{
    display: inline-block;
    width: 100px;
    
}

#mood{
    display: inline-block;
    position: absolute;
    right:0;
    top:0;
    cursor: pointer;
    font-size: 25px;
}

.search-container {
    position: relative;
  }
  
  .search-container input[type="text"] {
    width: 100%;
    padding: 12px 20px 12px 40px;
    border: none;
    border-radius: 5px;
    background-image: url("search-icon.png");
    background-position: 10px center;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    font-size: 16px;
  }
  
  .search-container i {
    position: absolute;
    left: 0;
    top: 0;
    margin: 16px 12px;
    border: none;
    border-radius: 5px;
    /* background-color: #98d39a; */
    color: rgba(116, 105, 105, 0.808);
    font-size: 16px;
  }
  

  
  